// Body
$body-bg: #F9F9F9;

$sec-bg: #F0F0F0;

// Typography
$font-family-base: 'Lato', sans-serif;
$font-size-base: 1.20rem;
$line-height-base: 1.5;

// Box-Model Zero
$border-zero: 0;
$margin-zero: 0;
$padding-zero: 0;

// Colors
$primary-color: #AE5099;

$secondary-color: #E24353;

$white-color: #ffffff;

$black-color: #000000;

